<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Airports</key>
	<array>
		<dict>
			<key>State</key>
			<string>Wisconsin</string>
			<key>Name</key>
			<string>General Mitchell Intl</string>
			<key>Identifier</key>
			<string>MKE</string>
			<key>City</key>
			<string>Mulwaukee</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Washington</string>
			<key>Name</key>
			<string>Tacoma Narrows</string>
			<key>Identifier</key>
			<string>TIW</string>
			<key>City</key>
			<string>Tacoma</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Washington</string>
			<key>Name</key>
			<string>Boeing Field / King County Intl</string>
			<key>Identifier</key>
			<string>BFI</string>
			<key>City</key>
			<string>Seattle</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Washington</string>
			<key>Name</key>
			<string>Seattle-Tacoma Intl</string>
			<key>Identifier</key>
			<string>SEA</string>
			<key>City</key>
			<string>Seattle</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Washington</string>
			<key>Name</key>
			<string>Ephrata Muni</string>
			<key>Identifier</key>
			<string>EPH</string>
			<key>City</key>
			<string>Ephrata</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Washington</string>
			<key>Name</key>
			<string>Auburn Muni</string>
			<key>Identifier</key>
			<string>S50</string>
			<key>City</key>
			<string>Auburn</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Virginia</string>
			<key>Name</key>
			<string>Newport News / Williamsburg Intl</string>
			<key>Identifier</key>
			<string>PHF</string>
			<key>City</key>
			<string>Newport News</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Utah</string>
			<key>Name</key>
			<string>Salt Lake City Intl</string>
			<key>Identifier</key>
			<string>SLC</string>
			<key>City</key>
			<string>Salt Lake City</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>San Antonio Intl</string>
			<key>Identifier</key>
			<string>SAT</string>
			<key>City</key>
			<string>San Antonio</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>William P Hobby</string>
			<key>Identifier</key>
			<string>HOU</string>
			<key>City</key>
			<string>Houston</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>Ellington Field</string>
			<key>Identifier</key>
			<string>EFD</string>
			<key>City</key>
			<string>Houston</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>Sugar Land Rgnl</string>
			<key>Identifier</key>
			<string>SGR</string>
			<key>City</key>
			<string>Houston</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>David Wayne Hooks Memorial</string>
			<key>Identifier</key>
			<string>DWH</string>
			<key>City</key>
			<string>Houston</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>George Bush Intercontinental / Houston</string>
			<key>Identifier</key>
			<string>IAH</string>
			<key>City</key>
			<string>Houston</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>Dallas / Fort Worth Intl</string>
			<key>Identifier</key>
			<string>DFW</string>
			<key>City</key>
			<string>Dallas-Fort Worth</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>Dallas Love Field</string>
			<key>Identifier</key>
			<string>DAL</string>
			<key>City</key>
			<string>Dallas</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Texas</string>
			<key>Name</key>
			<string>Austin-Bergstrom Intl</string>
			<key>Identifier</key>
			<string>AUS</string>
			<key>City</key>
			<string>Austin</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Tennessee</string>
			<key>Name</key>
			<string>Nashville Intl</string>
			<key>Identifier</key>
			<string>BNA</string>
			<key>City</key>
			<string>Nashville</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Tennessee</string>
			<key>Name</key>
			<string>Memphis Intl</string>
			<key>Identifier</key>
			<string>MEM</string>
			<key>City</key>
			<string>Memphis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Pennsylvania</string>
			<key>Name</key>
			<string>Pittsburgh Intl</string>
			<key>Identifier</key>
			<string>PIT</string>
			<key>City</key>
			<string>Pittsburgh</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Pennsylvania</string>
			<key>Name</key>
			<string>Philadelphia Intl</string>
			<key>Identifier</key>
			<string>PHL</string>
			<key>City</key>
			<string>Philadelphia</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Oregon</string>
			<key>Name</key>
			<string>Portland Intl</string>
			<key>Identifier</key>
			<string>PDX</string>
			<key>City</key>
			<string>Portland</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Oregon</string>
			<key>Name</key>
			<string>Portland-Hillsboro</string>
			<key>Identifier</key>
			<string>HIO</string>
			<key>City</key>
			<string>Portland</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Oklahoma</string>
			<key>Name</key>
			<string>Tulsa Intl</string>
			<key>Identifier</key>
			<string>TUL</string>
			<key>City</key>
			<string>Tulsa</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Oklahoma</string>
			<key>Name</key>
			<string>Richard Lloyd Jones Jr</string>
			<key>Identifier</key>
			<string>RVS</string>
			<key>City</key>
			<string>Tulsa</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Ohio</string>
			<key>Name</key>
			<string>Port Columbus Intl</string>
			<key>Identifier</key>
			<string>CMH</string>
			<key>City</key>
			<string>Columbus</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Ohio</string>
			<key>Name</key>
			<string>Cleveland-Hopkins Intl</string>
			<key>Identifier</key>
			<string>CLE</string>
			<key>City</key>
			<string>Cleveland</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>Westchester County</string>
			<key>Identifier</key>
			<string>HPN</string>
			<key>City</key>
			<string>White Plains</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>La Guardia</string>
			<key>Identifier</key>
			<string>LGA</string>
			<key>City</key>
			<string>New York</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>John F Kennedy Intl</string>
			<key>Identifier</key>
			<string>JFK</string>
			<key>City</key>
			<string>New York</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>Long Island Mac Arthur</string>
			<key>Identifier</key>
			<string>ISP</string>
			<key>City</key>
			<string>New York</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>Republic</string>
			<key>Identifier</key>
			<string>FRG</string>
			<key>City</key>
			<string>Farmingdale</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>Buffalo Niagara Intl</string>
			<key>Identifier</key>
			<string>BUF</string>
			<key>City</key>
			<string>Buffalo</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New York</string>
			<key>Name</key>
			<string>Albany Intl</string>
			<key>Identifier</key>
			<string>ALB</string>
			<key>City</key>
			<string>Albany</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Nevada</string>
			<key>Name</key>
			<string>North Las Vegas</string>
			<key>Identifier</key>
			<string>VGT</string>
			<key>City</key>
			<string>Las Vegas</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Nevada</string>
			<key>Name</key>
			<string>Mc Carran Intl</string>
			<key>Identifier</key>
			<string>LAS</string>
			<key>City</key>
			<string>Las Vegas</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New Mexico</string>
			<key>Name</key>
			<string>Albuquerque Intl Sunport</string>
			<key>Identifier</key>
			<string>ABQ</string>
			<key>City</key>
			<string>Albuquerque</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New Jersey</string>
			<key>Name</key>
			<string>Teterboro</string>
			<key>Identifier</key>
			<string>TEB</string>
			<key>City</key>
			<string>Teterboro</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New Jersey</string>
			<key>Name</key>
			<string>Newark Liberty Intl</string>
			<key>Identifier</key>
			<string>EWR</string>
			<key>City</key>
			<string>Newark</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New Jersey</string>
			<key>Name</key>
			<string>Morristown Muni</string>
			<key>Identifier</key>
			<string>MMU</string>
			<key>City</key>
			<string>Morristown</string>
		</dict>
		<dict>
			<key>State</key>
			<string>New Jersey</string>
			<key>Name</key>
			<string>Essex County</string>
			<key>Identifier</key>
			<string>CDW</string>
			<key>City</key>
			<string>Caldwell</string>
		</dict>
		<dict>
			<key>State</key>
			<string>North Dakota</string>
			<key>Name</key>
			<string>Grand Forks Intl</string>
			<key>Identifier</key>
			<string>GFK</string>
			<key>City</key>
			<string>Grand Forks</string>
		</dict>
		<dict>
			<key>State</key>
			<string>North Carolina</string>
			<key>Name</key>
			<string>Raleigh-Durham Intl</string>
			<key>Identifier</key>
			<string>RDU</string>
			<key>City</key>
			<string>Raleigh/Durham</string>
		</dict>
		<dict>
			<key>State</key>
			<string>North Carolina</string>
			<key>Name</key>
			<string>Charlotte/Douglas Intl</string>
			<key>Identifier</key>
			<string>CLT</string>
			<key>City</key>
			<string>Charlotte</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Missouri</string>
			<key>Name</key>
			<string>Spirit Of St Louis</string>
			<key>Identifier</key>
			<string>SUS</string>
			<key>City</key>
			<string>St Louis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Missouri</string>
			<key>Name</key>
			<string>Lambert-St Louis Intl</string>
			<key>Identifier</key>
			<string>STL</string>
			<key>City</key>
			<string>St Louis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Missouri</string>
			<key>Name</key>
			<string>Kansas City Intl</string>
			<key>Identifier</key>
			<string>MCI</string>
			<key>City</key>
			<string>Kansas City</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Minnesota</string>
			<key>Name</key>
			<string>St Paul Downtown Holman Fld</string>
			<key>Identifier</key>
			<string>STP</string>
			<key>City</key>
			<string>St Paul</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Minnesota</string>
			<key>Name</key>
			<string>Anoka County-Blaine Arpt</string>
			<key>Identifier</key>
			<string>ANE</string>
			<key>City</key>
			<string>Mineapolis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Minnesota</string>
			<key>Name</key>
			<string>Flying Cloud</string>
			<key>Identifier</key>
			<string>FCM</string>
			<key>City</key>
			<string>Mineapolis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Minnesota</string>
			<key>Name</key>
			<string>Mineapolis-St Paul Intl</string>
			<key>Identifier</key>
			<string>MSP</string>
			<key>City</key>
			<string>Mineapolis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Minnesota</string>
			<key>Name</key>
			<string>Crystal</string>
			<key>Identifier</key>
			<string>MIC</string>
			<key>City</key>
			<string>Mineapolis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Michigan</string>
			<key>Name</key>
			<string>Oakland County Intl</string>
			<key>Identifier</key>
			<string>PTK</string>
			<key>City</key>
			<string>Pontiac</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Michigan</string>
			<key>Name</key>
			<string>Detroit Metropolitan Wayne County</string>
			<key>Identifier</key>
			<string>DTW</string>
			<key>City</key>
			<string>Detroit</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Maryland</string>
			<key>Name</key>
			<string>Carroll County Rgnl</string>
			<key>Identifier</key>
			<string>DMW</string>
			<key>City</key>
			<string>Westminster</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Maryland</string>
			<key>Name</key>
			<string>Frederick Muni</string>
			<key>Identifier</key>
			<string>FDK</string>
			<key>City</key>
			<string>Frederick</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Maryland</string>
			<key>Name</key>
			<string>Easton / Newnam Field</string>
			<key>Identifier</key>
			<string>ESN</string>
			<key>City</key>
			<string>Easton</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Maryland</string>
			<key>Name</key>
			<string>Baltimore/Washington Intl Thurgood Marshall</string>
			<key>Identifier</key>
			<string>BWI</string>
			<key>City</key>
			<string>Baltimore</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Massachusetts</string>
			<key>Name</key>
			<string>New Bedford Rgnl</string>
			<key>Identifier</key>
			<string>EWB</string>
			<key>City</key>
			<string>New Bedford</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Massachusetts</string>
			<key>Name</key>
			<string>Nantucket Memorial</string>
			<key>Identifier</key>
			<string>ACK</string>
			<key>City</key>
			<string>Nantucket</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Massachusetts</string>
			<key>Name</key>
			<string>Fitchburg Muni</string>
			<key>Identifier</key>
			<string>FIT</string>
			<key>City</key>
			<string>Fitchburg</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Massachusetts</string>
			<key>Name</key>
			<string>General Edward Lawrence Logan Intl</string>
			<key>Identifier</key>
			<string>BOS</string>
			<key>City</key>
			<string>Boston</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Massachusetts</string>
			<key>Name</key>
			<string>Laurence G Hanscom Fld</string>
			<key>Identifier</key>
			<string>BED</string>
			<key>City</key>
			<string>Bedford</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Kentucky</string>
			<key>Name</key>
			<string>Louisville Intl-Standiford Field</string>
			<key>Identifier</key>
			<string>SDF</string>
			<key>City</key>
			<string>Louisville</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Kentucky</string>
			<key>Name</key>
			<string>Cincinnati / Northern Kentucky Intl</string>
			<key>Identifier</key>
			<string>CVG</string>
			<key>City</key>
			<string>Covington</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Kansas</string>
			<key>Name</key>
			<string>Wichita Mid-Continent</string>
			<key>Identifier</key>
			<string>ICT</string>
			<key>City</key>
			<string>Wichita</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Indiana</string>
			<key>Name</key>
			<string>Indianapolis Intl</string>
			<key>Identifier</key>
			<string>IND</string>
			<key>City</key>
			<string>Indianapolis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Illinois</string>
			<key>Name</key>
			<string>Dupage</string>
			<key>Identifier</key>
			<string>DPA</string>
			<key>City</key>
			<string>Chicago</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Illinois</string>
			<key>Name</key>
			<string>Chicago O&apos;Hare Intl</string>
			<key>Identifier</key>
			<string>ORD</string>
			<key>City</key>
			<string>Chicago</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Illinois</string>
			<key>Name</key>
			<string>Chicago Midway Intl</string>
			<key>Identifier</key>
			<string>MDW</string>
			<key>City</key>
			<string>Chicago</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Illinois</string>
			<key>Name</key>
			<string>St Louis Downtown</string>
			<key>Identifier</key>
			<string>CPS</string>
			<key>City</key>
			<string>St Louis</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Idaho</string>
			<key>Name</key>
			<string>Boise Air Terminal / Gowen Fld</string>
			<key>Identifier</key>
			<string>BOI</string>
			<key>City</key>
			<string>Boise</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Hawaii</string>
			<key>Name</key>
			<string>Kalaeloa</string>
			<key>Identifier</key>
			<string>JRF</string>
			<key>City</key>
			<string>Kapolei</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Hawaii</string>
			<key>Name</key>
			<string>Kahului</string>
			<key>Identifier</key>
			<string>OGG</string>
			<key>City</key>
			<string>Kahului</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Hawaii</string>
			<key>Name</key>
			<string>Honolulu Intl</string>
			<key>Identifier</key>
			<string>HNL</string>
			<key>City</key>
			<string>Honolulu</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Georgia</string>
			<key>Name</key>
			<string>Dekalb-Peachtree</string>
			<key>Identifier</key>
			<string>PDK</string>
			<key>City</key>
			<string>Atlanta</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Georgia</string>
			<key>Name</key>
			<string>Hartsfield - Jackson Atlanta Intl</string>
			<key>Identifier</key>
			<string>ATL</string>
			<key>City</key>
			<string>Atlanta</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Palm Beach Intl</string>
			<key>Identifier</key>
			<string>PBI</string>
			<key>City</key>
			<string>West Palm Beach</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Venice Muni</string>
			<key>Identifier</key>
			<string>VNC</string>
			<key>City</key>
			<string>Venice</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Space Coast Rgnl</string>
			<key>Identifier</key>
			<string>TIX</string>
			<key>City</key>
			<string>Titusville</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Tampa Intl</string>
			<key>Identifier</key>
			<string>TPA</string>
			<key>City</key>
			<string>Tampa</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>St. Petersburg-Clearwater Intl</string>
			<key>Identifier</key>
			<string>PIE</string>
			<key>City</key>
			<string>St. Petersburg</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Sarasota / Bradenton Intl</string>
			<key>Identifier</key>
			<string>SRQ</string>
			<key>City</key>
			<string>Sarasota</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Pompano Beach Airpark</string>
			<key>Identifier</key>
			<string>PMP</string>
			<key>City</key>
			<string>Pompano Beach</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Executive</string>
			<key>Identifier</key>
			<string>ORL</string>
			<key>City</key>
			<string>Orlando</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Kissimmee Gateway</string>
			<key>Identifier</key>
			<string>ISM</string>
			<key>City</key>
			<string>Orlando</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Orlando Intl</string>
			<key>Identifier</key>
			<string>MCO</string>
			<key>City</key>
			<string>Orlando</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Orlando Sanford Intl</string>
			<key>Identifier</key>
			<string>SFB</string>
			<key>City</key>
			<string>Orlando</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Miami Intl</string>
			<key>Identifier</key>
			<string>MIA</string>
			<key>City</key>
			<string>Miami</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Kendall-Tamiami Executive</string>
			<key>Identifier</key>
			<string>TMB</string>
			<key>City</key>
			<string>Miami</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Melbourne Intl</string>
			<key>Identifier</key>
			<string>MLB</string>
			<key>City</key>
			<string>Melbourne</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Craig Muni</string>
			<key>Identifier</key>
			<string>CRG</string>
			<key>City</key>
			<string>Jacksonville</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>North Perry</string>
			<key>Identifier</key>
			<string>HWO</string>
			<key>City</key>
			<string>Hollywood</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>St Lucie County Intl</string>
			<key>Identifier</key>
			<string>FPR</string>
			<key>City</key>
			<string>Fort Pierce</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Fort Lauderdale Executive</string>
			<key>Identifier</key>
			<string>FXE</string>
			<key>City</key>
			<string>Fort Lauderdale</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Fort Lauderdale / Hollywood Intl</string>
			<key>Identifier</key>
			<string>FLL</string>
			<key>City</key>
			<string>Fort Lauderdale</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Florida</string>
			<key>Name</key>
			<string>Daytona Beach Intl</string>
			<key>Identifier</key>
			<string>DAB</string>
			<key>City</key>
			<string>Daytona Beach</string>
		</dict>
		<dict>
			<key>State</key>
			<string>District of Columbia</string>
			<key>Name</key>
			<string>Washington Dulles Intl</string>
			<key>Identifier</key>
			<string>IAD</string>
			<key>City</key>
			<string>Washington</string>
		</dict>
		<dict>
			<key>State</key>
			<string>District of Columbia</string>
			<key>Name</key>
			<string>Ronald Reagan Washington National</string>
			<key>Identifier</key>
			<string>DCA</string>
			<key>City</key>
			<string>Washington</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Connecticut</string>
			<key>Name</key>
			<string>Waterbury-Oxford</string>
			<key>Identifier</key>
			<string>OXC</string>
			<key>City</key>
			<string>Oxford</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Colorado</string>
			<key>Name</key>
			<string>Denver Intl</string>
			<key>Identifier</key>
			<string>DEN</string>
			<key>City</key>
			<string>Denver</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Colorado</string>
			<key>Name</key>
			<string>Centennial</string>
			<key>Identifier</key>
			<string>APA</string>
			<key>City</key>
			<string>Denver</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Colorado</string>
			<key>Name</key>
			<string>Rocky Mountain Metropolitan</string>
			<key>Identifier</key>
			<string>BJC</string>
			<key>City</key>
			<string>Denver</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Colorado</string>
			<key>Name</key>
			<string>City of Colorado Springs Muni</string>
			<key>Identifier</key>
			<string>COS</string>
			<key>City</key>
			<string>Colorado Springs</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Van Nuys</string>
			<key>Identifier</key>
			<string>VNY</string>
			<key>City</key>
			<string>Van Nuys</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Zamperini Field</string>
			<key>Identifier</key>
			<string>TOA</string>
			<key>City</key>
			<string>Torrance</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Santa Monica Muni</string>
			<key>Identifier</key>
			<string>SMO</string>
			<key>City</key>
			<string>Santa Monica</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Santa Barbara Muni</string>
			<key>Identifier</key>
			<string>SBA</string>
			<key>City</key>
			<string>Santa Barbara</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>John Wayne Airport-Orange County</string>
			<key>Identifier</key>
			<string>SNA</string>
			<key>City</key>
			<string>Santa Ana</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Reid-Hillview Of Santa Clara County</string>
			<key>Identifier</key>
			<string>RHV</string>
			<key>City</key>
			<string>San Jose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Norman Y. Mineta San Jose Intl</string>
			<key>Identifier</key>
			<string>SJC</string>
			<key>City</key>
			<string>San Jose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>San Francisco Intl</string>
			<key>Identifier</key>
			<string>SFO</string>
			<key>City</key>
			<string>San Francisco</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Gillepsie Field</string>
			<key>Identifier</key>
			<string>SEE</string>
			<key>City</key>
			<string>San Diego</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>San Diego Intl</string>
			<key>Identifier</key>
			<string>SAN</string>
			<key>City</key>
			<string>San Diego</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Montgomery Field</string>
			<key>Identifier</key>
			<string>MYF</string>
			<key>City</key>
			<string>San Diego</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>San Carlos</string>
			<key>Identifier</key>
			<string>SQL</string>
			<key>City</key>
			<string>San Carlos</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Palo Alto Arpt Of Santa Clara Co</string>
			<key>Identifier</key>
			<string>PAO</string>
			<key>City</key>
			<string>Palo Alto</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Ontario Intl</string>
			<key>Identifier</key>
			<string>ONT</string>
			<key>City</key>
			<string>Ontario</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Metropolitan Oakland Intl</string>
			<key>Identifier</key>
			<string>OAK</string>
			<key>City</key>
			<string>Oakland</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Los Angeles Intl</string>
			<key>Identifier</key>
			<string>LAX</string>
			<key>City</key>
			<string>Los Angeles</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Long Beach / Daugherty Field</string>
			<key>Identifier</key>
			<string>LGB</string>
			<key>City</key>
			<string>Long Beach</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Livermore Muni</string>
			<key>Identifier</key>
			<string>LVK</string>
			<key>City</key>
			<string>Livermore</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Brackett Field</string>
			<key>Identifier</key>
			<string>POC</string>
			<key>City</key>
			<string>La Verne</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Hayward Executive</string>
			<key>Identifier</key>
			<string>HWD</string>
			<key>City</key>
			<string>Hayward</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Fresno Yosemite Intl</string>
			<key>Identifier</key>
			<string>FAT</string>
			<key>City</key>
			<string>Fresno</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Buchanan Field</string>
			<key>Identifier</key>
			<string>CCR</string>
			<key>City</key>
			<string>Concord</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Chino</string>
			<key>Identifier</key>
			<string>CNO</string>
			<key>City</key>
			<string>Chino</string>
		</dict>
		<dict>
			<key>State</key>
			<string>California</string>
			<key>Name</key>
			<string>Camarillo</string>
			<key>Identifier</key>
			<string>CMA</string>
			<key>City</key>
			<string>Camarillo</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Tucson Intl</string>
			<key>Identifier</key>
			<string>TUS</string>
			<key>City</key>
			<string>Tucson</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Ryan Field</string>
			<key>Identifier</key>
			<string>RYN</string>
			<key>City</key>
			<string>Tucson</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Scottsdale</string>
			<key>Identifier</key>
			<string>SDL</string>
			<key>City</key>
			<string>Scottsdale</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Ernest A. Love Field</string>
			<key>Identifier</key>
			<string>PRC</string>
			<key>City</key>
			<string>Prescott</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Phoenix Deer Valley</string>
			<key>Identifier</key>
			<string>DVT</string>
			<key>City</key>
			<string>Phoenix</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Phoenix Sky Harbor Intl</string>
			<key>Identifier</key>
			<string>PHX</string>
			<key>City</key>
			<string>Phoenix</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Phoenix-Mesa Gateway</string>
			<key>Identifier</key>
			<string>IWA</string>
			<key>City</key>
			<string>Phoenix</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Falcon Fld</string>
			<key>Identifier</key>
			<string>FFZ</string>
			<key>City</key>
			<string>Mesa</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Arizona</string>
			<key>Name</key>
			<string>Chandler Muni</string>
			<key>Identifier</key>
			<string>CHD</string>
			<key>City</key>
			<string>Chandler</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Alabama</string>
			<key>Name</key>
			<string>Pryor Field Rgnl</string>
			<key>Identifier</key>
			<string>DCU</string>
			<key>City</key>
			<string>Decatur</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Alabama</string>
			<key>Name</key>
			<string>Brewton Muni</string>
			<key>Identifier</key>
			<string>12J</string>
			<key>City</key>
			<string>Brewton</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Alabama</string>
			<key>Name</key>
			<string>Birmingham-Shuttlesworth Intl</string>
			<key>Identifier</key>
			<string>BHM</string>
			<key>City</key>
			<string>Birmingham</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Alaska</string>
			<key>Name</key>
			<string>Juneau Intl</string>
			<key>Identifier</key>
			<string>JNU</string>
			<key>City</key>
			<string>Juneau</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Alaska</string>
			<key>Name</key>
			<string>Merrill Field</string>
			<key>Identifier</key>
			<string>MRI</string>
			<key>City</key>
			<string>Anchorage</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Alaska</string>
			<key>Name</key>
			<string>Ted Stevens Anchorage Intl</string>
			<key>Identifier</key>
			<string>ANC</string>
			<key>City</key>
			<string>Anchorage</string>
		</dict>
	</array>
</dict>
</plist>
